<!doctype html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issue</title>
</head>
<body>
<h2> Карточка клиента:</h2>
<h3> Имя: <span th:text="${readerName}"></span></h3>
<h3> Оставшиеся книги:</h3><br>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        <tr th:each="book: ${remainingBooks}">
            <td th:text="${book.getId()}"> </td>
            <td th:text="${book.getName()}"> </td>
        </tr>
    </table>
</body>
</html>