<!doctype html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issues</title>
</head>
<body>
<h1>Issues</h1><br>
<table>
    <tr>
        <th>№ </th>
        <th>Issue Id</th>
        <th>Book name</th>
        <th>Reader ID</th>
        <th>   Time of receipt   </th>
        <th>    Time of return   </th>
    </tr>
    <tr th:each="entry, stats: ${map}" th:with="book=${entry.value}">
        <td th:text="${stats.index+1}"> 1 </td>
        <td th:text="${entry.key.getId()}"> </td>
        <td th:text="${book.getName()}"> </td>
        <td th:text="${entry.key.getReaderId()}"> </td>
        <td th:text="${entry.key.getTimeOfReceipt()}"> </td>
        <td th:text="${entry.key.getTimeOfReturn()}"> </td>
    </tr>
</table>
</body>
</html>